.container {
    width: 600px;
    margin: 20px auto;
}

form.qr-form {
    display: block;
    margin: 10px auto;
}

form.qr-form #qr-result {
    width: 280px;
    height: 30px;
    font-size: 16px;
    display: block;
}

form.qr-form .submit-form-button {
    display: block;
    margin-top: 10px;
}

#interactive {
    width: 640px;
    margin: 20px auto;
    padding: 10px;
}

.full-screen {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: unset !important;
    padding: unset !important;
}

#interactive #qr-video-preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 603px) {
    .container {
        width: 320px;
        margin: 10px auto;
    }

    #interactive {
      width: 300px;
      margin: 10px auto;
    }
}
